<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infobite.niramayahospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.PrescriptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.schedule_section.ScheduleActivity" />
        <activity android:name=".activity.MainActivity">

            &lt;!&ndash;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            &ndash;&gt;
        </activity>-->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".TestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.schedule_section.ScheduleActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cebbe6be8ceeb74cb521b3d099244fcebbb65168" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>